@font-face {
    font-family: 'm6x11plus';
    src: url('fonts/m6x11plus.ttf');
}

* {
    -fx-font-family: m6x11plus;
}

.button:hover {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
}